canvas{
    image-rendering: crisp-edges;
    position: fixed;
    top: 0;
    left: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    overflow: overlay;
}

main {
    
    position: absolute;
    color: white;
    padding: 380px 50px 50px 50px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* creates columns to align all text with to make things consistent and well spaced*/
    font-family: Helvetica, Arial, sans-serif;
}
img{
    width: 100%;
    height: 100%;
}

:root{
    --dark-bg: rgba(15, 15, 15, 0.80);
    --light-bg: rgba(255, 255, 255, 0.80);
    --spacing: 350px;

    

}
section{
    grid-column: 1 / 7; /* aligns text to specific grid boxes. in this case text will go from grid 2 - 8 before starting new line */
    font-size: 1.5rem;
    padding: 1rem;
    background: var(--dark-bg);
    margin-bottom: var(--spacing);
    border-radius: 50px; /* Rounded corners */

}
    section h2{
        font-size: 2.5rem;
        font-family: Tahoma, Verdana, sans-serif;
    }
    section h3{
        font-size: 1.5rem;
        font-family: Tahoma, Verdana, sans-serif;
    }
    section h3 img{
        width: 20px;
        height: auto;
        padding-left: 10px;
    }
header{
    grid-column: 2 / span 5;
    background-color: var(--dark-bg);
    width: 77%;
    text-align: center;
    font-size: 2.5rem; /* font size for header (rem stands for root em which is basically the root font size in most cases this is 16px. so in this case the font size will be 2.5 * 16)*/
    font-family: Tahoma, Verdana, sans-serif;
    padding: 2rem; /* sets the thickness of the padding area */
    margin-bottom: var(--spacing);
    border-radius: 50px; /* Rounded corners */
}

blockquote {
    margin: 0;
    padding: 1rem;
    grid-column: 1 / span 9;
    margin-bottom: var(--spacing);
    
    
  }
    blockquote p {
        display: inline;
        font-size: 2.3rem;
        font-family: 'Courier New', Courier, monospace;
        
        color: black;
        background-color: var(--light-bg);
        border-radius: 5px; /* Rounded corners */
    }
a{
    color: white;
    text-decoration: underline;
}
.left { /* if the class is "left" then display text on the left of the screen */
    
    margin-right: 35px;
    grid-column: 7 / 13;
    }
.last { /* if the class is "last" then remove the bottom spacing */
    margin-bottom: 70px;
    }
.link{
    transition: all .1s ease-out;
}
.link:hover{ /* if the class is "link" then display text in a link */
    cursor: pointer;
    font-size: 101%;
    color: rgb(131, 131, 131);
    transition: all .1s ease-in;
    /* text-decoration: underline; */
}
.sectionLink{
    text-decoration: none;
    transition: all .1s ease-out;
}
.sectionLink:hover{ /* if the class is "link" then display text in a link */
    cursor: pointer;
    font-size: 101%;
    color: rgb(131, 131, 131);
    transition: all .1s ease-in;
    /* text-decoration: underline; */
}
#topButton{
    display: block; /* hides the button initially */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 22px; /* move button slightly right */
    z-index: 99; /* Make sure it is not covered by other parts of the page */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(230, 230, 230); /* Set a background color */
    /* opacity: 0; */
    transform: scale(0); /* Make the button invisible */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* makes curser point when hovering */
    padding: 15px; /*Some padding */
    padding-top: 12px;
    border-radius: 40px; /* Rounded corners */
    font-size: 20px; /* Font size */
    transition:all .2s ease-out; /* Add a transition effect for when any of the button values change */
}
#topButton:hover {
    background-color: rgb(202, 140, 140); /* Add a new background color on hover */
    transition:all .2s ease-in;
  }
#githubButton {
    display: block; /* hides the button initially */
    position: fixed; /* Fixed position */
    top: 10px; /* Place the button at the bottom of the page */
    right: 22px; /* move button slightly right */
    z-index: 99; /* Make sure it is not covered by other parts of the page */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(230, 230, 230); /* Set a background color */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* makes curser point when hovering */
    padding: 5px; /*Some padding */
    padding-top: 4px;
    padding-bottom: 3px;
    border-radius: 10px; /* Rounded corners */
    width: 50px;
    transform: scale(1);
    transition:background-color .2s, transform .2s ease-out; /* Add a transition effect for when any of the button values change */
  }
#githubButton:hover {
    background-color: rgb(131, 131, 131); /* Add a new background color on hover */
    transform: scale(1.05);
    transition:background-color .2s, transform .2s ease-in;
  }
#emailButton {
    display: block; /* hides the button initially */
    position: fixed; /* Fixed position */
    top: 70px; /* Place the button at the bottom of the page */
    right: 22px; /* move button slightly right */
    z-index: 99; /* Make sure it is not covered by other parts of the page */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(230, 230, 230); /* Set a background color */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* makes curser point when hovering */
    padding: 5px; /*Some padding */
    padding-top: 4px;
    padding-bottom: 3px;
    border-radius: 10px; /* Rounded corners */
    width: 50px;
    transform: scale(1);
    transition:background-color .2s, transform .2s ease-out; /* Add a transition effect for when any of the button values change */
}
#emailButton:hover {
    background-color: rgb(131, 131, 131); /* Add a new background color on hover */
    transform: scale(1.05);
    transition:background-color .2s, transform .2s ease-in;
  }
/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(30, 30, 30, 0.7);
  border-radius: 5px; /* Rounded corners */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(136,136,136); /* Set a background color */
  border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(85,85,85); /* Add a hover effect */
}